.element {
    background-color: rgb(83, 81, 81);
}

.example {
    background-color: aqua;
}

.example2 {
    background-color: antiquewhite;
}

.example3 {
    background-color: rgb(87, 79, 79);
}
